<div id="container-panels">
  <div id="panel-dev" [@panelExpandTrigger]="expandedState">
    <div class="tab-dev tab" (click)="toggleExpandedState()">
      <h2>Code</h2>
    </div>
    <div class="container-dev" *ngIf="expanded" [@visibleTrigger]="'visible'">
      <div class="proj-container-home">
        <div class="img-home"></div>
        <h3 class="proj-title-home">Project 1</h3>
        <p class="proj-desc-home">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti labore velit eaque nemo voluptatem ab nam voluptatum, aliquam, ea minima magnam odit natus explicabo, unde quasi enim sapiente suscipit fugit.</p>
      </div>
      <div class="proj-container-home">
        <div class="img-home"></div>
        <h3 class="proj-title-home">Project 2</h3>
        <p class="proj-desc-home">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti labore velit eaque nemo voluptatem ab nam voluptatum, aliquam, ea minima magnam odit natus explicabo, unde quasi enim sapiente suscipit fugit.</p>
      </div>
      <div class="proj-container-home">
        <div class="img-home"></div>
        <h3 class="proj-title-home">Project 3</h3>
        <p class="proj-desc-home">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti labore velit eaque nemo voluptatem ab nam voluptatum, aliquam, ea minima magnam odit natus explicabo, unde quasi enim sapiente suscipit fugit.</p>
      </div>
    </div>
  </div>
  <div id="panel-design">
    <div class="tab-design tab" (click)="toggleExpandedState()">
        <h2>Design</h2>
    </div>
    <div class="container-design">
      <div class="proj-container-home">
          <div class="img-home"></div>
          <h3 class="proj-title-home">Project 1</h3>
          <p class="proj-desc-home">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti labore velit eaque nemo voluptatem ab nam voluptatum, aliquam, ea minima magnam odit natus explicabo, unde quasi enim sapiente suscipit fugit.</p>
      </div>
      <div class="proj-container-home">
        <div class="img-home"></div>
        <h3 class="proj-title-home">Project 2</h3>
        <p class="proj-desc-home">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti labore velit eaque nemo voluptatem ab nam voluptatum, aliquam, ea minima magnam odit natus explicabo, unde quasi enim sapiente suscipit fugit.</p>
      </div>
      <div class="proj-container-home">
        <div class="img-home"></div>
        <h3 class="proj-title-home">Project 3</h3>
        <p class="proj-desc-home">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti labore velit eaque nemo voluptatem ab nam voluptatum, aliquam, ea minima magnam odit natus explicabo, unde quasi enim sapiente suscipit fugit.</p>
      </div>
    </div>
  </div>
</div>